*{
    margin:0;
    padding:0;
    box-sizing : border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: #EDF4F2;
}

header{
    background:#7C8363;
    color:#fff;
    padding: 10px 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.port{
   border-radius: 4px;
cursor: pointer;
}

header h1{
    margin: 0;
}


nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap: 20px;
    padding:0;
}


nav ul{
    margin: 0 20px;
}
 a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    padding:20px;
    margin:20px 0;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
#home h1{
    text-transform: capitalize;
    font-size: 2rem;
    color: #31473A;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 23ch;
    border-right: 2px solid #31473A;
    animation: typing 6s steps(20,end) infinite, blink 0.5s step-end infinite;
}
@keyframes typing {
    from{width: 0;}
    to{width: 23ch;}
}
@keyframes blink {
    from,to{
        border-color: transparent;
    }
    50%{
        border-color: #31473A;
    }
}
#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
#home p{
    margin-bottom: 10px;

}
#home button{
    border: 0;
    background-color: #31473A;
    padding: 8px 20px;
    border-radius: 20px;
}

#home img{
   
width: 300px;
height: 400px;
border-radius: 20px;

}

#about, #projects, #contact{
    /* background-color:#ffffff; */
    padding:40px;
    border-radius:10px;
    margin-bottom: 2rem;
    box-shadow:0 2px 2px 1px rgba(0, 0, 0, .1);
}
.about-section, .projects-section{
    text-align: center;
}
.about-section h2, .projects-section h2, .contact-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about-section p{
    padding: 0 6rem;
}
.projects-section .project-gallery{
width: 100%;
text-align: start;
padding: 0 6rem;
}
.projects-section .project-gallery h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contact-section{

    text-align: center;
}
.project{
    margin:15px 0;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #31473A;
    border-radius:5px;
margin: 15px 0;
color: #fff;
font-weight: 600;


}
form{
padding: 0 6rem;

   width: 100%;
   text-align: left;

}
form label{
    margin:10x 0 5px;
}
form input, form textarea{
    display: block;
    width: 100%; 
    padding:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
    resize: none;
}
form input:focus , form textarea:focus{
    border: none;
    outline-color: #31473A;
}
footer{
    background:#31473A;
    color:#fff;
    border:none;
    padding:10px;
    cursor:pointer;
    text-align: center;
    margin-top: 4rem;
}